.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.chart-container{
  display: flex;
  width: 500px;
  height: 200px;
}

.buttons{
  display: flex;
  margin-bottom: 10rem;

  & button{
    padding: 1rem;
    width: 200px;
    margin: 2rem;
    background-color: green;
    color:white;
    font-size: 24px;
    cursor: pointer;
  }
  & button:hover{
    background-color: rgb(29, 200, 51);
    transition: 0.3s;
  }
  & button:disabled{
    background-color: grey;
    cursor: not-allowed;
  }
}

.App input {
  padding: 1rem;
  width: 400px;
  font-size: 24px;
  border: 5px solid red;
}

@media (max-width:600px){
  .buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    & button { 
      margin: 1rem;
    }
  }
  .App{
    height: auto;
  }
}